extends layout

block photos
	div#navContent
		.navbar
			.navbar-inner
				.brand We're Rocking Flannel.
				.container-fluid
					a.btn.btn-navbar(data-toggle='collapse',data-target='.nav-collapse')
						span.icon-bar
						span.icon-bar
						span.icon-bar 
					.nav-collapse.collapse
						ul.nav.nav-tabs	
							li
								a(href='/')  Home
							li
								a(href='/shows') Shows
							li
								a(href='/band') Behind the Music
							li.dropdown.active
								a.dropdown-toggle(id='media',data-toggle='dropdown',href='#') Media
									b.caret 
								ul(class="dropdown-menu",role="menu",aria-labelledby="media")
									li
										a(href='/music') Music
									li 
										a(href='/video') Video
									li.active
										a(href='/photos') Photos
							li.divider-vertical
								li 
									a(href='/vote') Rock the Vote
	.row-fluid
		.span12
			center
				h2 COME TO THE SHOW AND YOU MIGHT BE HERE!
				img(src='/images/ef-yea.jpg')